LIVE_MODE=false
RPC_URL=
CHAIN_ID=
ADMIN_WALLET_ADDRESS=
OPERATOR_WALLET_ADDRESS=
REPORTER_WALLET_ADDRESS=
TREASURY_WALLET_ADDRESS=
OPERATOR_PRIVATE_KEY=
REPORTER_PRIVATE_KEY=
DEPLOYED_CONTRACT_ADDRESS=
INITIAL_PRINCIPAL_FLOOR=1000000000000000000
MAX_COMPUTE_USD=25
ZYFAI_API_KEY=
ZYFAI_STRATEGY_URL=
BANKR_API_KEY=
BANKR_CHAT_COMPLETIONS_URL=
BANKR_MODEL=
LOCUS_API_KEY=
LOCUS_PAYMENT_URL=
VENICE_API_KEY=
VENICE_CHAT_COMPLETIONS_URL=
VENICE_MODEL=
UNISWAP_API_KEY=
UNISWAP_QUOTE_URL=
