PROJECT_NAME=YieldMind Engine
PRIMARY_TRACK=Zyfai
LIVE_MODE=false
RPC_URL=
OPERATOR_WALLET_ADDRESS=
TREASURY_WALLET_ADDRESS=
ADMIN_WALLET_ADDRESS=
VENICE_API_KEY=
BANKR_API_KEY=
UNISWAP_API_KEY=
FILECOIN_API_TOKEN=
CELO_RPC_URL=
LOCUS_API_KEY=
SELF_PROTOCOL_TOKEN=
